<h1>The place to meet</h1>

<p>Hi there,</p>

<p>Everyone has joined. It's time to find out the location.

<p><a href="http://www.epicenter.live/confirmation.74?event=<%=@event.event_token%>">Click here to view</a></p>

<p>Regards,</p>

<p>Team Epicenter</p>
