<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <h1 style="font-family:Roboto; font-weight: 600; font-size: 56px">The wait is over</h1>
  <p style="font-family:Nunito">Everyone has now joined and it's time to reveal the location to meet.</p>
  <p style="font-family:Nunito"><a href="http://www.epicenter.live/events/<%=@event.event_token%>" target="_blank">Click here to reveal the destination.</a></p>
  <p style="font-family:Nunito">Regards,</p>
  <p style="font-family:Nunito">Team Epicenter</p>
</body>
