#map {
  height: 250px;
  z-index: -1;
}

.confirmation-h2__styling {
  margin-top: 20px;
  font-weight: bold;
}

.confirmation-image {
  width: 100%;
  margin: 20px 0;
  object-fit: contain;
}

.smaller {
  position: relative;
}

.confirmation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-wrapper {
  display: flex;
  font-family: "Nunito";
}

.confirmation-rating {
  font-size: 20px;
  margin-right: 20px;
}

.confirmation-stars {
  font-size: 20px;
}

.confirmation-button {
  margin-top: 20px;
}

.confirmation-button a{
  color: white;
}

.button-wrapper {
  position: relative;
  bottom: 0;
}