.nav-bar_app {
  position: fixed;
  width: 100%;
  top: 0;
}

.main-container {
  padding: 14vh 5vw 0 5vw;
  height: 90vh;
}

.home-container {
  padding: 10px 0 20px 0;
}
#home-container__text {
  font-size: 19px;
  text-align: left;
}

.carouselExampleIndicators {
  margin-bottom: 2vh;
}

.home-carousel__image {
  height: 130px;
  width: auto;
  margin: 3vh;
}

.carousel-item {
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-item p {
  font-family: 'Nunito';
  font-size: 18px;
}

.footer {
  position: absolute;
  bottom: 0;
}
.carousel-indicators li {
    background-color: #bebcff;
}

.carousel-indicators li.active {
    background-color: #5e56f8 !important;
}

.users {
  text-align: center !important;
}
