.home-container {
  padding: 10px 0 20px 0;
}
#home-container__text {
  font-size: 24px;
  text-align: left;
}

.home-carousel__image {
  height: 160px;
  margin-bottom: 20px;
}

.carousel-item {
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-item p {
  font-family: 'Nunito';
  font-size: 18px;
}

.footer {
  position: absolute;
  bottom: 0;
}
