.join-wrapper {
  text-align: center;
}

.image-container {
  text-align: center;
  margin-bottom: 10px;
}

img {
  width: 250px;
  text-align: center;
}

.clockdiv {
  display:flex;
  justify-content: center;
}

.clock {
  font-family: Roboto;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}

.hour{
  font-family: Roboto;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
}

.ul{
  list-style:none !important;
}
