
.join-wrapper {
  text-align: center;
}

.image-container {
  text-align: center;
  margin-bottom: 10px;
}

img {
  width: 250px;
  text-align: center;
}

.clockdiv {
  display:flex;
  justify-content: center;
}

.clock {
  font-family: Roboto;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}

.hour{
  font-family: Roboto;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
}

ul{
  list-style:none;
  padding-left: 0;
}

.fas {
  color: #5e56f8;
  padding: 3px;
}

.joined-users {
  background: white;
  margin: 50px 0px;
  padding: 5px 0px 5px 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.join-padding {
  padding-bottom: 25px;
}

.venueTBD {
  font-weight: bold;
}
