.form-new{
    width: 100%;
  }

@media screen and (min-width: 992px) {

//HOME PAGE
  .form-new{
    width: 600px;
    margin: 0px auto;
  }
  .bottom-form{
    width: 600px;
    margin: 0px auto;
  }
  .main-button{
    width: 600px;
    margin: 0px auto;
  }
  .home-container{
    width: 600px;
    margin: 0px auto;
  }
  .home-carousel__image{
    height: 210px;
    width: auto;
    margin: 2vh;
  }
  .carousel-item{
    margin-top: -18px;
  }
  .footer {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-container{
    padding: 14vh 0vw 0 0vw;
  }
  .title-h1{
    font-size: 80px;
    margin-top: -18px;
  }
  p{
    font-size: 30px !important;

//SHARE EVENT PAGE
  }
  #name-id{
    text-align: center;
  }
  #copy-link{
    text-align: center;
  }
  .image-container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .waitng-page-text{
    font-size: 20px;
  }
  .main-button-container{
    margin-bottom: 34px;
  }
  //CONFIRMATION PAGE
  .confirmation-image{
    width: 400px;
  }
  button{

  }



























 }
