.share-code {
  background: #dbdbdb;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -20px;
}

@media only screen and (max-width: 500px) {
  .share-code {
      height: 75px;
  }
}

.share-code p {
  padding: 0px 20px;
  line-height: 36px;
  border-radius: 4px;
}

.image-container {
  text-align: center;
}

img {
  width: 250px;
  text-align: center;
}
