<form class="form-new">
  <label for="event_name">Give your event a name</label>
  <input type="text" name="event_name">
  <label for="event_dt">Time & date of event</label>
  <input type="date" name="event_dt">
  <label for="event_deadline">How long do guests have to register?</label>
  <input type="date" name="event_deadline">
  <label for="name">What's your name?</label>
  <input type="text" name="name">
  <label for="address">Where is your location?</label>
  <input type="text" name="address">
  <input type="button" class="main-button" value="Create Event">
</form>
