<form class="form-new">
  Give your event a name<br>
  <input type="text" name="event-name"><br>
  Time & date of event<br>
  <input type="date" name="event_dt">
  How long do guests have to register?<br>
  <input type="date" name="lastname">
  What's your name?<br>
  <input type="text" name="name">
  Where is your location?<br>
  <input type="text" name="address">
  <input type="button" class="main-button" value="Create Event">
</form>
