<div class="joined-users">
  <p class="title-h2-centre user-title">Who's joined so far?</p>
  <ul class="users">
    <% @users.each do |user| %>
      <% if user.organiser == true %>
        <li class=""><%= user.name %> <i class="fas fa-flag"></i></li>
      <% else %>
        <li><%= user.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
