<div class="main-container">
  <h1 class="title-h1">Sorry, that didn't work</h1>
  <div class="img-container">
    <%= image_tag('cancelation.png') %>
  </div>
  <p>There weren't enough people close to you for us to calculate the epicenter and recommend a venue.</p>
  <p><a href="/">Click here</a> to return to the homepage.</p>
</div>
