<div class="home-container">
  <h1 class="title-h1">Sorry, that didn't work</h1>
  <div class="img-container">
    <%= image_tag('cancellation.png') %>
  </div>
  <p>We couldn't find a venue for you. Either there weren't enough people close to you, or there were no venues available for us to recommend.</p>
  <p><a href="/">Click here</a> to return to the homepage.</p>
</div>
