<div class="home-container">
  <h1 class="title-h1">Meet in the middle.</h1>
  <p id="home-container__text">Catch up with friends without the hassle of choosing where to go.</p>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="100000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <%= image_tag('dark_map', class: "home-carousel__image") %>
        <p>1. Create an event without a location</p>
      </div>
      <div class="carousel-item">
          <%= image_tag('biking', class: "home-carousel__image") %>
          <p>2. Share it with friends who tell us where they’re travelling from</p>
      </div>
      <div class="carousel-item">
        <%= image_tag('having_fun', class: "home-carousel__image") %>
        <p>3. We find the central point & recommend a venue that works for everyone</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="footer">
    <%= render 'shared/main-button' %>
  </div>
