<div class="home-container">
  <h1 class="title-h1">How it works</h1>

  <div style="text-align: center;">
    <%= image_tag('dark_map.png', class: "home-carousel__image") %>
  </div>
  <h2>1. Create an event</h2>
  <p>Give it a name and date but no location.</p>
  <P>Just tell us who you are, where you're travelling from and if you'd prefer to meet in a cafe, bar or restaurant,
  <p>Choose the period your friends have to join (like four hours, or one day).</p>

  <div style="text-align: center;">
   <%= image_tag('biking.png', class: "home-carousel__image") %>
  </div>
  <h2>2. Share with friends</h2>
  <p>We create a unique event link which you can share with friends.</p>
  <p>They join and say where they are travelling from (by entering an address or sharing their geolocation).</p>

  <div style="text-align: center;">
    <%= image_tag('having_fun.png', class: "home-carousel__image") %>
  </div>
  <h2>3. We tell you where to meet</h2>
  <p>Once the joining period is up, we calculate the central point of all attendees (excluding anyone who is just too far away).<p>
  <p>We then recommend a nearby bar or cafe that works for everyone and notify the group.</p>


</div>
