<div class="home-container optimising" data-id="<%=@event.event_token%>">
  <h1 class="title-h1-centre d-none" id="title">Analysing locations</h1>
  <h1 class="title-h1-centre d-none" id="title1">Removing outliers</h1>
  <h1 class="title-h1-centre d-none" id="title2">Finding central point</h1>
  <h1 class="title-h1-centre d-none" id="title3">Checking venue ratings</h1>

  <div class="loadingio-spinner-ripple-699y08q56wy"><div class="ldio-1t699csdxhe">
  <div></div><div></div>
  </div></div>

</div>

<div class="footer skipthisdiv">
  <button class="main-button end-countdown" id="skip">Skip this</button>
</div>
