<div class="home-container">
  <h1 class="title-h1">Drinks after work</h1>
   <p class="form-label">Copy this link to share your event</p>
</div>

<div class="share-code">
  <p>epicenter.live/52750b30ffbc7de3b362</p>
</div>

<div class="main-button-container">
  <button class="main-button">Copy link</button>
</div>

<div class="image-container">
 <%= image_tag('share') %>
</div>
