.navbar-lewagon {
  position: relative;
  width: 100%;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px !important;
  padding-bottom:3px;
}

.nav-link-purple {
  color: $main-color;
  font-family: roboto;
  font-size: 18px;
  font-weight: 900;
}

.nav-link-purple:hover {
  color: $main-color;
  text-decoration: none;
}
