.title-h1 {
  color: #000000;
  font-size: 9vh;
  font-family: roboto;
  font-weight: 900;
  text-align: left;
}

.title-h2{
  color: rgba(0, 0, 0, .7);
  font-size: 24px;
  font-family: roboto;
  text-align: left;
}

.form-label{
  font-family: Nunito;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

p {
  color: black;
  font-size: 18px;
  font-family: nunito;
  text-align: center;
}
